/**, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }
body {
	margin: 0;
	padding: 0;
}

*/
#header {
	display: block;
	position: fixed;
	z-index: 1000;
	height: 40px;
	width: 100%;
	background: #333;
	color: #f2f2f2;
	box-shadow: 0px 4px 18px #333;
}
.header-inner {
	max-width: 1170px;
	margin: 0 auto;
}
.feed-nav-container {
	position:relative;
	float:left;
	margin: 0 0 0 16px;
}
.toggle-nav {
	margin: 4px 0 0 0;
}
/*.feed-nav-container li.drop-nav {
	margin: 4px 12px 4px 0;
}*/
#top-menu {
	display: none;
	clear:left;
	position:absolute;
	left:-40px;
	top:36px;
}
#top-menu li {
	width:auto;
	overflow: auto;
	clear:left;
	float: left;
}

#top-menu a {
	margin:0;
	width:160px;
	text-overflow:ellipsis;
	overflow: hidden;
	white-space: nowrap;
	text-align: left;
}

#nav-current, #messages {
	float: left;
	margin:10px 0 0 8px;
}
#nav-current {
	display: inline-block;
	max-width:60%;
	text-overflow:ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
#top-menu ul a {
	width:12em;
}

/*
#top-menu ul li:hover ul {
	display:block;
}*/

a.active {
	background: #f00;
}

.prefs-container {
	position:relative;
	float:right;
	margin: 4px 16px 0 0;
}
#prefs-menu {
	display: none;
	clear:right;
	position:absolute;
	right:0;
	top:36px;
}
#prefs-menu li {
	width:auto;
	overflow: auto;
	clear:right;
	float: right;
}

#prefs-menu a {
	margin:0;
	width:160px;
	text-overflow:ellipsis;
	overflow: hidden;
	white-space: nowrap;
	text-align: left;
}

#action-update-feeds {
	/*float:right;
	margin:4px 16px 4px 0;*/
}

#rendered {
	/*padding-top:40px;*/
}

/*

.feed-group {
	clear: both;
	border-top: 2px solid #ccc;
	padding:2em;
	background: #e5e5e5;
	overflow: auto;
}

.item {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 2em;
	background: #fff;
	overflow: auto;
	width:49%;
	float: left;
	margin-bottom: .5em;
}
.item-first {
	clear: both;
	margin-right:2em;
}




.condensed {
	display:none;
}

*/

#main {
	padding-top:50px;
}

img {
	max-width: 100%;
	height: auto;
}

.feed-group {
	/*padding-top:40px;*/
}

.feed-group h1 a {
	color:#333;

}



.item {
	border-bottom: 1px solid #ccc;
	margin-bottom:1em;
	padding-bottom:1em;
	overflow: auto;
}
.item h2 {
	float:left;
	width:80%;
	margin-right:1em;
	margin-top:12px;
}
.item ul, .item blockquote, .item object {
	overflow: visible;
}
.item p {
	text-align: left;
}
.item br {
	display: none;
}
.item img {
	float:right;
	clear: right;
	margin: 0 0 1em 1em;
}

.item a img {
	float:right;
	clear: none;
}

.pub-date {
	clear: left;
	float:left;
	margin-right:1em;
	margin-top:12px;
}
.action-expand-item-toggle {
	float:right;
	margin-right:1em;
	margin-top:12px;
}
.content {
	clear: both;
}


.condensed {

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}



.popup-form {

}
.popup-form label, .popup-form input {
	/*display: block;*/
}

.num-items-displayed {
	position: fixed;
	top: 40px;
	left: 10%;
	right: 10%;
	width: 80%;
	margin: 0 auto;
	background: #fff;
	padding: 3em;
	border: 2px solid #999;
	box-shadow: 3px 3px 48px #000;
}








@media (max-width: 320px) {
	#rendered {
	}

	.feed-nav-container {
		margin: 0 0 0 8px;
	}

	.prefs-container {
		margin: 4px 8px 0 0;
	}
	.container {
		padding:0;
	}
	.well {
		padding:0;
	}
	header h1 {
		/*margin-left:8px;*/
		margin-bottom: 16px;
		padding:0 16px 16px;
		border-bottom:6px solid #333;
	}
	.item h2 {
		margin:0;
		width:100%;
	}
}

















